{% extends "main/base.html" %}
{% block content %}
<div id="user_header">
    <div><h2>{{user.first_name}} {{user.second_name}}</h2></div>
    <div>@{{ user.username }}</div>
    {% if user != me %}
    <div>
        <a href="/subscribe/{{user.username}}" class="subscribe_button"><div class="subscribe_button">Подписаться</div></a>
    </div>
    {% endif %}
</div>
<div id="posts">
    <div>
        {% if user == me %}
        <div class="post">
            <p class="post-author">{{title}}</p>
            <form id="new_post" method="post" action="">
                <p><textarea id="new_post_content" rows="3" placeholder="Как дела?" form="new_post" name="content"></textarea></p>
                <input type="submit" value="Рассказать" id="new_post_button">
                {% csrf_token %}
            </form>
        </div>
        {% endif %}
        {% for post in col_1 %}
            <div class="post">
                <p class="post-author">@{{post.author.username}}</p>
                <p class="post-content">{{post.content}}</p>
                <p class="post-date">{{post.created}}</p>
            </div>
        {% endfor %}
    </div>
    <div>
        {% for post in col_2 %}
            <div class="post">
                <p class="post-author">@{{post.author.username}}</p>
                <p class="post-content">{{post.content}}</p>
                <p class="post-date">{{post.created}}</p>
            </div>
        {% endfor %}
    </div>
    <div>
        {% for post in col_3 %}
            <div class="post">
                <p class="post-author">@{{post.author.username}}</p>
                <p class="post-content">{{post.content}}</p>
                <p class="post-date">{{post.created}}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}